@font-face {
  font-family: "ProggyClean Nerd Font";
  src: local("ProggyClean Nerd Font"),
    url("./fonts/ProggyCleanNerdFont-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "ProggyClean Nerd Font", Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  max-width: 960px;
  background-color: #f0f0f0;
  height: fit-content;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.8em;
  line-height: 1.1;
  text-shadow: 3px 0px 1px #000;
}

header {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  align-items: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  margin-bottom: 1.6em;
}

.div-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 1.6em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.pokemon-image {
  width: 200px;
  image-rendering: pixelated;
  cursor: pointer;
}

.title-and-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.title {
  margin-right: 6px;
}

.type-image {
  width: 20px;
  image-rendering: pixelated;
  margin-bottom: -6px;
}

.search-input {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-radius: 8px;
  transition: border-color 0.25s;
  color: gray;
  width: 100%;
}

.not-found-gif {
  width: 200px;
  image-rendering: pixelated;
  margin: 2rem;
}

@media (min-width: 768px) {
  .logo {
    width: 450px;
    image-rendering: pixelated;
  }

  .pokemon-image {
    width: 300px;
  }

  .search-input {
    width: 100%;
  }
}
