@font-face {
  font-family: "ProggyClean Nerd Font";
  src: local("ProggyClean Nerd Font"),
    url("./fonts/ProggyCleanNerdFont-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "ProggyClean Nerd Font", Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/background.jpg");   /* https://www.vecteezy.com/vector-art/24649105-pattern-pokeball-red-and-white-ball-of-the-popular-cartoon-90s-pixel-art */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  scroll-behavior: smooth;
}

.app {
  margin: 0
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  height: fit-content;
  background-color: rgb(255, 255, 255, 0.95);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.8em;
  line-height: 1.1;
  text-shadow: 3px 0px 1px #000;
}

header {
  display: flex;
  flex-direction: column;
  padding: 0 1.5em;
  align-items: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  margin-bottom: 1.6em;
}

.div-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1.6em;
  width: 100%;
}

.search-input {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  border-radius: 20px;
  transition: border-color 0.25s;
  border: 2px solid gray;
  width: 100%;
}

.pokemon-image {
  width: 200px;
  image-rendering: pixelated;
  cursor: pointer;
}

.title-and-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.title {
  margin-right: 6px;
}

.pokedex-number {
  font-size: 2.4em;
  margin-top: 3px;
  text-shadow: 2px 0px 1px #000;
  margin-right: -4px;
}

.type-image {
  width: 20px;
  image-rendering: pixelated;
  margin-bottom: -6px;
}



.not-found-gif {
  width: 200px;
  image-rendering: pixelated;
  margin: 2rem;
}

@media (min-width: 768px) {
  .logo {
    width: 450px;
    image-rendering: pixelated;
  }

  .pokemon-image {
    width: 300px;
  }

  .search-input {
    width: 100%;
  }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em 2em;
  text-align: right;
}
